<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
         http://www.springframework.org/schema/task   
         http://www.springframework.org/schema/task/spring-task-3.1.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-lazy-init="true">
  
  <import resource="spring-datasource.xml"/>    <!-- JdbcTemplate -->
  
  <context:annotation-config/>
  <context:component-scan base-package="com">
    <context:include-filter type="regex" expression="com.platform.service.*"/>
    <context:include-filter type="regex" expression="com.platform.web.*"/>
    <context:include-filter type="regex" expression="com.csms.service.*"/>
    <context:include-filter type="regex" expression="com.csms.action.*"/>
  </context:component-scan>
  
 <!--  <task:executor id="executor" pool-size="5" />  
  <task:scheduler id="scheduler" pool-size="10" />  
  <task:annotation-driven executor="executor" scheduler="scheduler" />
  
  <task:scheduled-tasks>
  <task:scheduled ref="csmsSchedule" method="sysWarn" cron="0 0/5 * * * ?"/>
  </task:scheduled-tasks>--> 
</beans>